<app-breadcrumbs
  [title]="'Estados Civiles'"
  [breadcrumbItems]="[
    { label: 'General' },
    { label: 'Estados Civiles', active: true }
  ]"
>
  <img class="breadcrumbs-icon ms-2 icon-breadcrumb" src="assets/images/imagenes/Vector.svg" alt="icono breadcrumb" />
</app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3 flex-wrap" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <button type="button" class="btn btn-primary me-2 mb-2" (click)="navigateToCreate()">
            <span class="btn-text">Nuevo</span>
            <span class="btn-icon"><i class="ri-add-line"></i></span>
          </button>
          <div class="search-box mb-2">
            <input type="text" class="form-control search" placeholder="Buscar..." [(ngModel)]="table.searchTerm" (ngModelChange)="table.setSearchTerm($event)">
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
        
        <!-- Collapse para el formulario de creación -->
<div class="collapse" [ngClass]="{ 'show': showCreateForm }" id="createFormCollapse">
  <div class="card card-body mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
    <div class="container-fluid flex-grow-1">
      <app-create (onCancel)="cerrarFormulario()" (onSave)="guardarEstadoCivil($event)"></app-create>
    </div>
  </div>
</div>

        <!-- Collapse para el formulario de edición -->
<div class="collapse" [ngClass]="{ 'show': showEditForm }" id="editFormCollapse">
  <div class="card card-body mb-3 d-flex flex-column" style="min-height: 300px; padding: 2rem;">
    <div class="container-fluid flex-grow-1">
      <app-edit 
        [estadoCivilData]="estadoCivilEditando" 
        (onCancel)="cerrarFormularioEdicion()" 
        (onSave)="actualizarEstadoCivil($event)">
      </app-edit>
    </div>
  </div>
</div>

        <!-- Collapse para el formulario de detalles -->
<div class="collapse" [ngClass]="{ 'show': showDetailsForm }" id="detailsFormCollapse">
  <div class="card card-body mb-3 d-flex flex-column" style="min-height: 400px; padding: 0.5rem;">
    <div class="container-fluid flex-grow-1">
      <app-details 
        [estadoCivilData]="estadoCivilDetalle" 
        (onClose)="cerrarFormularioDetalles()">
      </app-details>
    </div>
  </div>
</div>

        <div class="table-responsive" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <table class="table table-gridjs table-style">
            <thead>
              <tr>
                <th class="gridjs-th">Acciones</th>
                <th class="gridjs-th">No.</th>
                <th class="gridjs-th">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.paginated$ | async; let i = index">
                <td class="position-relative">
                  <div class="dropdown">
                    <button type="button" class="btn btn-secondary-actions dropdown-toggle" [attr.aria-expanded]="activeActionRow === i" (click)="onActionMenuClick(i)">
                      <span>Acciones</span><i class="ri-settings-3-line"></i>
                    </button>
                    <ul *ngIf="activeActionRow === i" class="dropdown-menu show mt-2 shadow">
                      <li *ngIf="showEdit">
                        <button type="button" class="btn btn-secondary w-100 text-start rounded-0" (click)="navigateToEdit(data)">
                          Editar <i class="ri-edit-line"></i>
                        </button>
                      </li>
                      <li *ngIf="showDetails">
                        <button type="button" class="btn btn-secondary w-100 text-start rounded-0" (click)="navigateToDetails(data)">
                          Detalles <i class="ri-error-warning-fill"></i>
                        </button>
                      </li>
                      <li *ngIf="showDelete">
                        <button type="button" class="btn btn-secondary w-100 text-start rounded-0" (click)="confirmarEliminar(data)">
                          Eliminar <i class="ri-delete-bin-line"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
                <td><span class="fw-semibold">{{data.numero}}</span></td>
                <td>{{data.esCv_Descripcion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-between align-items-md-center" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <ng-container *ngIf="(table.paginated$ | async) as paginados">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" role="status" aria-live="polite">
                Mostrando
                {{ (table.page - 1) * table.pageSizeValue + paginados.length }} de {{ table.  total$ | async }}
                registros
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end gridjs-pagination">
                <pagination [totalItems]="(table.total$ | async) || 0" [(ngModel)]="table.page" [itemsPerPage]="table.pageSizeValue" (pageChanged)="table.setPage($event.page)"></pagination>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de alertas flotantes -->
<div class="alert-container">
  <!-- Alerta de éxito -->
  <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
    <strong>¡Éxito!</strong> {{ mensajeExito }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
  
  <!-- Alerta de advertencia -->
  <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-alert-line me-3 align-middle fs-lg"></i>
    <strong>¡Atención!</strong> {{ mensajeWarning }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
  
  <!-- Alerta de error -->
  <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
    <strong>¡Error!</strong> {{ mensajeError }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
</div>

<!-- Modal de confirmación para eliminar -->
<div class="modal fade" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" [style.display]="mostrarConfirmacionEliminar ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center" style="font-size: 1rem; font-weight: bold; padding: 0.5rem 0.75rem; margin-bottom: 0; padding-bottom: 0;">
          <span>Confirmación</span>
          <i class="ri-close-line" style="font-size: 0.9rem; color: #000000; cursor: pointer;" (click)="cancelarEliminar()"></i>
        </div>
          <hr style="margin: 0.25rem; border-top: 1px solid #a2a3a4;">
        <div class="modal-body" style="padding: 0.5rem 0.75rem;">
        <div class="text-center"> 
          <p class="mt-2" style="font-size: 0.95rem; margin-bottom: 0.5rem;">
            <i class="ri-alert-line me-2" style="font-size: 1.2rem; color: #000000; cursor: pointer; vertical-align: middle;" (click)="cancelarEliminar()"></i>¿Está seguro(a) que desea eliminar el estado civil <strong >{{ estadoCivilAEliminar?.esCv_Descripcion }}</strong>?
          </p>
        </div>
      </div>
      <div class="modal-footer" style="padding: 0.5rem 0.75rem;">
         <button type="button" class="btn btn-primary gray btn-sm" (click)="cancelarEliminar()"><span class="btn-text">No</span><span class="btn-icon"><i class="ri-close-circle-line"></i></span></button>
        <button type="button" class="btn btn-primary red btn-sm" (click)="eliminar()">
          <span class="btn-text">Si</span>
          <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay para el modal -->
<div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" *ngIf="mostrarConfirmacionEliminar"></div>

<!-- end row -->