<!-- Overlay de carga animado -->
<div *ngIf="mostrarOverlayCarga" class="overlay-carga">
  <div class="typing-indicator">
    <div class="typing-circle"></div>
    <div class="typing-circle"></div>
    <div class="typing-circle"></div>
    <div class="typing-shadow"></div>
    <div class="typing-shadow"></div>
    <div class="typing-shadow"></div>
  </div>
</div>
<app-breadcrumbs
  [title]="'Carreras'"
  [breadcrumbItems]="[
    { label: 'Uni' },
    { label: 'Carreras', active: true }
  ]"
>
<img class="icon-breadcrumb" style="width: 10vh; height: 10vh;" src="assets/images/svg/Vector.svg" alt="breadcrumb icon" />
</app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3 flex-wrap" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <!-- AQUI EMPIEZA LO BUENO PARA LAS ACCIONES, TENEMOS ACCIONPERMITIDA QUE VIENE DEL TS DONDE VEMOS LAS ACCIONES -->
          <button  type="button" class="btn btn-primary me-2 mb-2" (click)="crear()">
            <span class="btn-text">Nuevo</span>
            <span class="btn-icon"><i class="ri-add-line"></i></span>
          </button>
           <div class="d-flex align-items-center gap-2 flex-wrap">
           

            <!-- Campo de búsqueda -->
            <div class="search-box mb-2">
              <input type="text" class="form-control search" placeholder="Buscar..." [(ngModel)]="table.searchTerm"
                (ngModelChange)="table.setSearchTerm($event)">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
        </div>
        



       <div class="table-radius-container">
          <div class="table-responsive" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
            <table class="table table-gridjs table-style">
              <thead>
                <tr>
                  <th class="gridjs-th" >Acciones</th>
                  <!-- no es necesario ordenar todas la columnas-->
                  
                  <th class="gridjs-th"  style="cursor:pointer;">
                    <span style="display: flex; align-items: center; justify-content: flex-start; gap: 4px;">
                      Descripción
                      <!-- iconos para ordenar -->
                      <span style="display: flex; flex-direction: column; margin-left: 6px;">
                         <i class="ri-arrow-up-s-line icon-sort"
                        >
                      </i>
                      <i class="ri-arrow-down-s-line icon-sort"
                        >
                      </i>
                      </span>
                    </span>
                  </th>
                </tr>
                <tr class="gridjs-th" *ngFor="let data of table.paginated$ | async; let i = index">
                  <td class="position-relative">
                    <div class="dropdown-action-list">
                      <button type="button"
                    class="dropdown-toggle"
                    [attr.aria-expanded]="false"
                    (click)="floatingMenuService.open($event, data)">
                    <span>Acciones</span>
                    <i class="ri-settings-3-line"></i>
                  </button>
                  </div>
                  </td>
                  <td>{{data.car_nombre}}</td>
                </tr>
                </thead>
            </table>
          </div>
        </div>
        <div class="row justify-content-md-between align-items-md-center" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
          <ng-container *ngIf="(table.paginated$ | async) as paginados">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" role="status" aria-live="polite">
                Mostrando
                {{ (table.page - 1) * table.pageSizeValue + paginados.length }} de {{ table.  total$ | async }}
                registros
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end gridjs-pagination">
                <pagination [totalItems]="(table.total$ | async) || 0" [(ngModel)]="table.page" [itemsPerPage]="table.pageSizeValue" (pageChanged)="table.setPage($event.page)"></pagination>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de alertas flotantes -->
<div class="alert-container">
  <div *ngIf="mostrarAlertaExito" class="alert alert-success alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-check-double-line me-3 align-middle fs-lg"></i>
    <strong>¡Éxito!</strong> {{ mensajeExito }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>

  <div *ngIf="mostrarAlertaWarning" class="alert alert-warning alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-alert-line me-3 align-middle fs-lg"></i>
    <strong>¡Atención!</strong> {{ mensajeWarning }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>

  <div *ngIf="mostrarAlertaError" class="alert alert-danger alert-border-left alert-dismissible fade show floating-alert" role="alert">
    <i class="ri-error-warning-line me-3 align-middle fs-lg"></i>
    <strong>¡Error!</strong> {{ mensajeError }}
    <button type="button" class="btn-close" (click)="cerrarAlerta()" aria-label="Close"></button>
  </div>
</div>

<!-- Modal de confirmación para eliminar -->
<div class="modal fade custom-modal" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" [style.display]="mostrarConfirmacionEliminar ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header d-flex justify-content-between align-items-center">
        <span>Confirmación</span>
        <i class="ri-close-line custom-modal-close" (click)="cancelarEliminar()"></i>
      </div>
      <hr class="custom-modal-divider">
      <div class="modal-body custom-modal-body">
        <div class="text-center"> 
          <p class="mt-2 custom-modal-text">
            <i class="ri-alert-line me-2 custom-modal-alert-icon" (click)="cancelarEliminar()"></i>¿Está seguro(a) que desea eliminar el estado civil <strong>{{ carreraAEliminar?.car_codigo }}</strong>?
          </p>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-primary gray btn-sm btn-minw-5" (click)="cancelarEliminar()"><span class="btn-text">No</span><span class="btn-icon"><i class="ri-close-circle-line"></i></span></button>
        <button type="button" class="btn btn-primary red btn-sm btn-minw-5" (click)="eliminar()">
          <span class="btn-text">Si</span>
          <span class="btn-icon"><i class="ri-delete-bin-line"></i></span>
        </button>
      </div> 
    </div>
  </div>
</div>

<!-- Overlay para el modal -->
<div class="modal-backdrop fade" [ngClass]="{ 'show': mostrarConfirmacionEliminar }" *ngIf="mostrarConfirmacionEliminar"></div>



<ul
  *ngIf="floatingMenuService.show"
  class="dropdown-menu show"  
  [ngStyle]="{
    position: 'absolute',
    top: floatingMenuService.top + 'px',
    left: floatingMenuService.left + 'px',
  }">
  <li >
    <button type="button" class="dropdown-action-btn" (click)="editar(floatingMenuService.data); floatingMenuService.close()">
      Editar <i class="ri-edit-line"></i>
    </button>
  </li>
  <li >
    <button type="button" class="dropdown-action-btn" (click)="confirmarEliminar(floatingMenuService.data); floatingMenuService.close()">
      Eliminar <i class="ri-delete-bin-line"></i>
    </button>
  </li>
  <li >
    <button type="button" class="dropdown-action-btn" (click)="detalles(floatingMenuService.data); floatingMenuService.close()">
      Detalles <i class="ri-error-warning-fill"></i>
    </button>
  </li>
</ul>